
.hero {
  width:100%;
  height: auto;
  
 
}

.header {
  margin-right: 50px;
  width: 200px;
  height: 200px;
 
}

.nav-container {
  display: flex;
  justify-content:center;
  align-items: center;
 
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.rounded-circle {
  width: 3rem;
  height: 3rem;
  position: relative;
 margin-right: 20px;
  
}
svg{
  display: flex;
  padding-right: 3px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(40%, 40%);
  border-radius: 50%;

}

.shoppingBag{
  margin-right: 50px;
}

.container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  
}


.item {
  width: 200px;
  margin-left: 50px;

}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.topPicks{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content-images{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

.woman-image{
  width: 500px;
}
.jewelery-image{
  width: 300px;
}
.man-image{
  width: 500px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;

  border-top:double;
  margin: 20px 200px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #59708A;
}

h6 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #59708A;
  margin-left: 50px;
  padding: 20px;
}

.shirts {
  display: flex;
  flex-direction: column;
  border-style: groove; 
  border-width: 5px;
  margin: 20px;
  padding: 10px;
}
.shirt-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:fantasy;
  padding-top: 20px;
}
.womens{
  text-decoration: none;
  color: black;
}

.shoppingBag{
  display: flex;
  flex-direction: column;
}