body {
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero {
  width: 100%;
  height: auto;
}

.header {
  margin-right: 50px;
  width: 200px;
  height: 200px;
}

.nav-container {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede5d6;
  margin: 0 0 1em 0;
	margin-right: 50px;

}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.nav-link {
  color: #0076a4;
}
.nav-link:hover {
  color: #fac495;
}

.rounded-circle {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin-right: 20px;
  background-color: #fac495;
}
.rounded-circle:hover {
  background-color: #e6ad81;
}
svg {
  display: flex;
  padding-right: 3px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0076a4;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(40%, 40%);
  border-radius: 50%;
}
.card-container{
  padding-left: 0;
}
.card-body{
  display: flex;
  flex-direction: column;
  margin: 50px;
  
}
.cart-container {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.item {
  width: 200px;
  margin-left: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topPicks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom: 40px;
}

.woman-image {
  width: 500px;
}
.jewelry-image {
  width: 100%;
}
.man-image {
  width: 500px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: double;
  padding: 20px;
  color: #59708a;
  font-size: larger;
}


h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 20px;
}
.womens {
  text-decoration: none;
  color: black;
}

.cart-headers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
  border-bottom-style: inset;
}


.clear-cart {
  margin: 10px;
  border-color: #59708a;
  color: gray;
  background-color: white;
  
}

.clear-cart:hover{
  background-color: #c7eff0;
  border-color: gray;
}
.grid-items {
  display: flex;
  justify-content:space-around;
  margin:0;
  padding-right:70px;
}
.price-heading{
  padding-left: 90px;
}
.quantity-heading{
  padding-right: 30px;
  
}
.cart-item{
  width: 100px;
  float: right;
  padding-top: 50px;
  padding-bottom: 20px;

}
.description{
 margin-left: 150px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: smaller;
 
  
}
.bag-button{
  margin: 10px;
  border-color: #59708a;
  color: gray;
  background-color: white;
}
.bag-button:hover{
  background-color: #c7eff0;
  border-color: gray;
}
.buttons {
  padding-top: 100px;
}

.button {
  margin: 10px;
  border-color: #59708a;
  color: gray;
  background-color: white;
}
.button:hover {
  background-color: #c7eff0;
  border-color: gray;
}
.button:disabled {
  background-color: #c7eff0;
  color: gray;
}

.title-price {
  display: flex;
  padding: 20px;
}
.price {
  margin-left: 200px;
  padding-left: 20px;
}
.description {
  max-width: 100px;
}
.quantity-buttons {
  margin-left:200px;
  margin-top: 40px;
  
}
.item-total{
  width: 100px;
}
.summary {
  border-style: double;
  width: 50%;
  height: 80%;
  margin-left: 50px;
  padding: 20px;
}